<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/navbar.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/main.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/navbar.js') }}" defer></script>
    <script type="text/javascript" src="{{ asset('js/fetch.js') }}" defer></script>
    {{ encore_entry_script_tags('Appointments') }}
    <title>Document</title>
</head>
<body>
{% include 'navbar.html.twig' %}
<div class="welcome">
    <p>Witaj, {{ app.user.name }}</p>
</div>

<div class="appointments">

</div>

</body>
</html>